* {
     /* margin: 0;
     padding: 0; */
     box-sizing: border-box;
     font-family: 'Poppins', sans-serif;
 }

  body {
     display: grid;
     place-items: center;
     background: #DDE1E7;
     text-align: center;
 }

 .content {
     padding:30px;
     background: #d9dbde;
     border-radius: 10px;
     height:500px;
 }
  .content .text {
      font-size: 33px;
      font-weight: 600;
      margin-bottom: 28px;
      color: #595959;
  }
 .content-login {
     padding: 26px 30px;
     background: #d9dbde;
     border-radius: 10px;
     height: 360px;
 }

 .content-login .text {
     font-size: 33px;
     font-weight: 600;
     margin-bottom: 28px;
     color: #595959;
 }
 .content-edit {
     width: 330px;
     padding: 26px 30px;
     background: #d9dbde;
     border-radius: 10px;
     height: 390px;
 }
 .content-edit .text {
     font-size: 33px;
     font-weight: 600;
     margin-bottom: 28px;
     color: #595959;
 }
 .content-add {
     width: 330px;
     padding: 26px 30px;
     background: #d9dbde;
     border-radius: 10px;
     height: 385px;
 }

 .content-add .text {
     font-size: 33px;
     font-weight: 600;
     margin-bottom: 28px;
     color: #595959;
 }
 .field {
     height: 50px;
     width: 100%;
     /* display: flex; */
     position: relative;
     margin-top: 20px;
 }

 .field input {
     height: 100%;
     /* width: 100%; */
     padding-left: 30px;
     outline: none;
     border: none;
     font-size: 18px;
     background: #ececed;
     color: #595959;
     border-radius: 25px;
 }

 /* .field span {
            position: absolute;
            color: #595959;
            width: 50px;
            line-height: 50px;
        } */

 .field label {
     position: absolute;
     top: 50%;
     transform: translateY(-50%);
     left: 30px;
     pointer-events: none;
     color: #666666;
 }

 .field input:valid~label {
     opacity: 0;
 }

 button {
     margin: 15px 0;
     width: 100%;
     height: 50px;
     font-size: 18px;
     /* line-height: 50px; */
     font-weight: 600;
     background: #c6c8ca;
     border-radius: 25px;
     border: none;
     outline: none;
     margin-top: 30px;
     cursor: pointer;
     color: #595959;
 }

 .sign-up {
     margin: 10px 0;
     color: #595959;
     font-size: 16px;
 }

 button:focus {
     color: #3498DB;
 }

